@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  @apply bg-mainBg text-black p-0 m-0;
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}
