@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  @apply bg-mainBg text-black p-0 m-0;
  font-family: "Tajawal", sans-serif;
  overflow-x: hidden;
}
